{% extends "layout.html" %}
{% block title %}
	{{category}}
{% endblock %}


{% block flashMessages %}

	{% for messages in get_flashed_messages() %}
			<div class="container">
				<div class="alert alert-success fade-in">
					<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
					<strong>{{ messages }}</strong>
				</div>
			</div>
	{% endfor %}

{% endblock %}

<!-- body for displaying the category menu -->
{% block body1 %}
	
	{% for i in categories %}
		<li><a href='{{url_for('viewProduct',cat_id=i.id)}}'>{{ i.name }}</a></li>
		<!-- <li>{{i.name}}</li> -->
	{% endfor %}
{% endblock %}

{% block body2 %}
	{{ super() }}
	
	{% set count=0 %}
	{% for i in items %}
		
		
		{% if count==0 %}
			<div class="row">
			{% set count=1 %}
		{% endif %}

		{% if count<=3 and count!=0 %}
			<div class="col-md-3 item_box">
				<ul><b>Name</b>: {{ i.name }}</ul>
				<ul><b>Item-id</b>:{{ i.item_id }}</ul>
				<ul><b>Price</b>: {{ i.price }}</ul>
				{% if i.seller!=None %}
				<ul><b>Seller</b>: <a href="{{url_for('sendMessage',sendTo=i.seller)}}">{{i.seller}}</a></ul>
				{% endif %}
				<ul>
					<form action='{{url_for('addToCart',item_id=i.item_id)}}' method="POST">
						<input type="submit" name="submit" value="Add to Cart">
					</form>
				</ul>
			</div>

			{% set count=count+1 %}
		{% endif %}

		{% if count==4 %}
			</div>
			{% set count=0 %}
		{% endif %}

	{% endfor %}

{% endblock %}
