<!DOCTYPE html>
<html>
<head>
	<title>Home page</title>

	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	  <link rel="stylesheet" href="index.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</head>
<body>


	<!-- header part of the website -->
	<div class="header_web">
	 	
	<!-- adding the login facitlity -->

		<div class="container">
			<div class="row" style="margin-top:15px;">
				<div class="col-md-10">
				<img src="../../shopsmart_logo.PNG">

				</div>
				<div class="col-md-1">
					<button type="button" class="btn btn-default btn-lg change" style="border:2px black solid; "><b>Login</b></button>
				</div>

				<div class="col-md-1">
					<button type="button" class="btn btn-default btn-lg change" style="border:2px black solid; "><b>Register</b></button>
				</div>
		
			</div>
		</div>

		<hr style="border:1.3px black solid">	

	 	<div class="container" style="background:url('../../background2.jpg');">
		 	<div class="website_name" >
		 			<h1 align="center" style="margin-top:50px; font-size:75px;font-family:monospace;"><b>ShopSmart</b></h1>
		 	</div>
	 	</div>
	 	<hr style="border:1.3px black solid;">
	</div>

	<!-- this is carousal -->
	<div class="container">
	<div class="row">
	<div class="col-md-8">
	<div class="container">
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
              <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <img src="http://rukmini1.flixcart.com/flap/730/300/brand/cfa6814764dd256e10aa62d349041d24.jpg" alt="Chania">
              </div>

              <div class="item">
                <img src="carousal-image.jpg" alt="Chania">
              </div>

              <div class="item">
                <img src="http://rukmini1.flixcart.com/flap/730/300/brand/cfa6814764dd256e10aa62d349041d24.jpg" alt="Flower">
              </div>

              <div class="item">
                <img src="http://rukmini1.flixcart.com/flap/730/300/brand/cfa6814764dd256e10aa62d349041d24.jpg" alt="Flower">
              </div>
            </div>

            <!-- Left and right controls -->         
        </div>
    </div>
    </div>

    <div class="col-md-4">
    	<img src="../../discount.jpg">
    </div>
    </div>
    </div>

    <hr style="border:1.3px black solid; margin-top:50px">

    <!-- this is the category block showing -->

    <div class="container">
    	
    	<div class="row">
    		
    		<div class="col-sm-3 col-md-3">
    			<div class="category">
    				<img src="">
    				<a href="#">
    				<img src="../../electronics.jpg">
    				<h1>Electronics</h1>
    				</a>
    			</div>

    		</div>

    		<div class="col-sm-3 col-md-3">
				<div class="category">
    				<a href="#">
    				<img src="../../books.jpg">
    				<h1>Books</h1>
    				</a>
    			</div>    			
    		</div>

    		<div class="col-sm-3 col-md-3">
    			<div class="category">
    				<a href="#">
    				<img src="../../clothes.jpg">
    				<h1>Clothes</h1>
    				</a>
    			</div>
    		</div>

    		<div class="col-sm-3 col-md-3">
    			<div class="category">
    				<a href="#">
    				<img src="../../furniture.jpg">
    				<h1>Furniture</h1>
    				</a>
    			</div>
    		</div>

    	</div>

    	<div class="row">
    		
    		<div class="col-sm-3 col-md-3">
    			<div class="category">
    				<a href="#">
    				<img src="../../sports.jpg">
    				<h1>Sports</h1>
    				</a>
    			</div>

    		</div>

    		<div class="col-sm-3 col-md-3">
				<div class="category">
    				<a href="#">
    				<img src="../../watches.jpg">
    				<h1>Watches</h1>
    				</a>
    			</div>    			
    		</div>

    		<div class="col-sm-3 col-md-3">
    			<div class="category">
    				<a href="#">
    				<img src="../../stationary.jpg">
    				<h1>Stationary</h1>
    				</a>
    			</div>
    		</div>

    		<div class="col-sm-3 col-md-3">
    			<div class="category">
    				<a href="#">
    				<img src="../../Lights.jpg">
    				<h1>Lights</h1>
    				</a>
    			</div>
    		</div>

    	</div>

    </div>

    <hr style="border:1.3px black solid; margin-top:50px">
    <!-- this is footer part of the main website  -->

    <div class="container footer">
    	
	    <div class="row">
	    	
		    <div class="col-md-4">
		    	<h3><b><span style="color:#ffcc2a"><u>Information</u></span></u></b></h3>
		    	<ul class="list-group">
		    		<li class="list-group-item"><a href="#">About Us</a></li>
		    		<li class="list-group-item"><a href="shipping_return.html">Shipping And Return</a></li>
		    		<li class="list-group-item"><a href="#">Payment Methods</a></li>
		    	</ul>
		    </div>

			<div class="col-md-4">
		    	<h3><b><span style="color:#ffcc2a"><u>Contact Us</u></span></u></b></h3>
		         <ul class="list-group">
		           <li class="list-group-item">
		              <a>
		               <h4><span class="glyphicon glyphicon-earphone">91-1111111111</span></h4>
		              </a>
		              <tr>
		            </li>

		            <li class="list-group-item">
		               <a href="#">
		               <h4> <span class="glyphicon glyphicon-envelope" >&nbspconnect@shopmart.com</span></h4>
		              </a>
		            </li>
		         </ul>

		    </div>

		    <div class="col-md-4">
		    	
	    	<h3>
			    <b><span style="color:#ffcc2a"><u>Follow Us</u></span></b>
			          &nbsp&nbsp&nbsp
			         <a href="https://www.facebook.com/ledMart.india" ><img src="webicon-facebook-m.png" alt="led light"></a>&nbsp &nbsp&nbsp&nbsp
			         <a href="https://twitter.com/ledmartindia"><img src="webicon-twitter-m.png" alt="led lights"></a>&nbsp&nbsp&nbsp
      
	        </h3>
	        <img src="../shopsmart_logo.PNG" style="margin-top:20px;margin-left:70px;">

		    </div>					    

	    </div>

    </div>

</body>
</html>