{% extends "base_forms.html" %}
 
{% block content %}
  
  <div class="container">
    
    <h2>Sign In</h2>
   
    {% for message in form.email.errors %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
     
    {% for message in form.password.errors %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
     
    <form action='{{ url_for('signin') }}' method="POST">
      {{ form.hidden_tag() }}
      
      {{ form.email.label }}
      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      {{ form.email }}
       <br><br>
      {{ form.password.label }}
      &nbsp&nbsp&nbsp&nbsp
      {{ form.password }}
       <br><br>
       &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      {{ form.submit }}
    </form>

    </div>
     
{% endblock %}