{% extends "base_forms.html" %}

{% block content %}
	
	<div class="container">
		
		<h2>Signup</h2>

		{% for message in form.firstname.errors %}
			<div class="flash">{{message}} </div>
		{% endfor %}

		{% for message in form.lastname.errors %}
			<div class="flash">{{message}} </div>
		{% endfor %}

		{% for message in form.email.errors %}
			<div class="flash">{{message}} </div>
		{% endfor %}

		{% for message in form.password.errors %}
			<div class="flash">{{message}} </div>
		{% endfor %}

		{% for message in form.address.errors %}
			<div class="flash">{{message}} </div>
		{% endfor %}

		<form action='{{url_for('signup')}}' method="POST">
			
			{{ form.hidden_tag() }}

			{{ form.firstname.label }}
			&nbsp&nbsp
			{{ form.firstname }}
			<br><br>

			{{ form.lastname.label }}
			&nbsp&nbsp
			{{ form.lastname }}
			<br><br>

			{{ form.email.label }}
			&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			{{ form.email }}
			<br><br>

			{{ form.password.label }}
			&nbsp&nbsp
			{{ form.password }}
			<br><br>

			{{ form.address.label }}
			&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			{{ form.address }}
			<br><br>		

			{{ form.submit}}

		</form>
	</div>

{% endblock %}

